/* ==========================================================================
   Top navigation
   ========================================================================== */

.navigation-wrapper {
  text-align: center;
  margin: 0 auto;
  @include clearfix;
  @include  media($medium) {
    border-bottom: 1px solid $black;
  }
  ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background-color: $white;
    @include media($medium) {
      color: $black;
    }
    @include clearfix;
  }
  li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    @include font-size(24, no);
    text-transform: uppercase;
    color: $black;
    @include media($medium) {
      @include font-size(14, no);
    }
    a:hover {
      //@include box-shadow($shadow: inset 0 0 1px $black);
      background-color: $yellow;
      color: $black;
    }
  }
  a {
    display: block;
    margin-bottom: 10px;
    padding: 12px 20px;
    @include media($medium) {
      margin-bottom: 0;
      padding: 15 20px;
    }
    color: $black;
    &:hover {
      color: $black;
    }
  }
}

/*
   Responsive navigation toggle
   ========================================================================== */

#site-nav {
  display: none;
  z-index: 5;
  float: left;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  @include media($medium) {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }
  &.closed {
    @include media($medium) {
      display: block;
    }
  }
  &.opened {
    display: block;
    max-height: 100%;
    li {
      float: none;
      @include media($medium) {
        float: left;
      }
    }
  }
}

/* display when JavaScript is disabled */
.no-js #site-nav {
  display: block;
}

#nav-toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px 20px;
  height: 30px;
  @include rounded(0);
  @include media($medium) {
    display: none;
  }
}
